[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BraveCoders
[access "refs/for/refs/*"]
	read = group user/BraveCoders
	push = group user/BraveCoders
	label-Code-Review = -2..+2 group user/BraveCoders
	label-Verified = -1..+1 group user/BraveCoders
	rebase = group user/BraveCoders
	removeReviewer = group user/BraveCoders
	submit = group user/BraveCoders
[access "refs/heads/*"]
	read = group user/BraveCoders
	create = group user/BraveCoders
	push = +force group user/BraveCoders
	pushMerge = group user/BraveCoders
[access "refs/tags/*"]
	push = +force group user/BraveCoders
	pushTag = group user/BraveCoders
	pushSignedTag = group user/BraveCoders
